body {
  background-color: white;
  width: 100%;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}
.flex-column img {
  width: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.flex-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2.5em;
  flex-wrap: wrap;
}
@media (max-width: 500px) {
  .flex-box {
    flex-direction: column;
    justify-content: center;
  }
}

h1 {
  color: #111;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 32px;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 32px;
}

h1,
h2,
h3 {
  margin-bottom: 0;
}

.descr {
  opacity: 0.8;
  text-transform: initial;
  margin-top: -0.2em;
}

.bold {
  font-weight: 500;
}

.heading {
  border-bottom: 5px solid #3aafa0;
  width: fit-content;
  margin: 0 auto;
}
.heading h2 {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0;
  height: 100%;
}
.heading__white {
  border-bottom: 5px solid white;
  margin: 0;
}
.heading__orange {
  border-bottom: 5px solid #ff4d00;
}
.heading__bckg {
  background-color: white;
  width: 105%;
  padding-left: 1em;
  margin-left: -1em !important;
  border-bottom: 5px solid transparent;
}
.heading__modal {
  margin-top: 2.5em;
}

.cta__inline {
  font-weight: 900;
}

.logo {
  position: relative;
  white-space: nowrap;
  width: fit-content;
  margin: 0;
  margin-left: 0.5em;
  cursor: pointer;
}
.logo:after {
  --deco-height: 0.3125em;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: calc(var(--deco-height) * -0.625);
  height: var(--deco-height);
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: auto 100%;
  background-repeat: round;
  background-position: 0em;
}

.b-m {
  margin-top: 1em;
}

.btn-row {
  width: 100%;
}
.btn-row i {
  color: #ff4d00;
}
.btn-row--transparent {
  color: black !important;
}
.btn-row__white i {
  color: white;
}

.btn {
  background-color: #293338;
  color: white;
  border-radius: 0;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
  background-color: #ff4d00;
  color: #ffffff;
  border: 1px solid #ff4d00;
  text-transform: uppercase;
  width: 35%;
  padding: 0.5em;
  letter-spacing: 0.1em;
}
.btn:hover {
  color: white;
  text-decoration: none;
}
.btn:hover:hover {
  opacity: 0.7;
  cursor: pointer;
}
.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn:disabled:hover {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-second {
  background-color: #293338;
  color: white;
  border-radius: 0;
  padding: 0.5em;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  background-color: black;
  color: #ffffff;
  border: 1px solid black;
  text-transform: uppercase;
  width: 35%;
  padding: 0.5em;
  letter-spacing: 0.1em;
}
.btn-second:hover {
  color: white;
  text-decoration: none;
}
.btn-second:hover:hover {
  opacity: 0.7;
  cursor: pointer;
}

a {
  box-shadow: inset 0 0 0 0 white;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

a {
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  font-weight: 900;
}

a i {
  color: #3aafa0;
}
a i:hover {
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}
a i:hover:hover {
  opacity: 0.7;
  cursor: pointer;
}

.sidemenu nav {
  width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}
.sidemenu .sidemenu__btn {
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
  appearance: none;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}
.sidemenu .sidemenu__btn span {
  display: block;
  width: 20px;
  height: 3px;
  margin: auto;
  background: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.4s ease;
}
.sidemenu .sidemenu__btn span.top {
  transform: translateY(-8px);
}
.sidemenu .sidemenu__btn span.bottom {
  transform: translateY(8px);
}
.sidemenu .sidemenu__btn.active span {
  background: white;
}
.sidemenu .sidemenu__btn.active .top {
  transform: rotate(-45deg);
}
.sidemenu .sidemenu__btn.active .mid {
  transform: translateX(-20px) rotate(360deg);
  opacity: 0;
}
.sidemenu .sidemenu__btn.active .bottom {
  transform: rotate(45deg);
}
.sidemenu .sidemenu__wrapper {
  padding-top: 50px;
  background-color: #3aafa0;
  height: 100vh;
}
.sidemenu .sidemenu__list {
  padding-top: 50px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidemenu .sidemenu__item a {
  text-decoration: none;
  line-height: 1.6em;
  font-size: 1.6em;
  padding: 0.5em;
  margin-left: 1em;
  display: block;
  color: white;
  transition: 0.4s ease;
}
.sidemenu .sidemenu__item a:hover {
  color: black;
  box-shadow: inset 170px 0 0 0 #ff4d00;
  color: white;
}

.translateX-enter {
  transform: translateX(-200px);
  opacity: 0;
}

.translateX-enter-active,
.translateX-leave-active {
  transform-origin: top left 0;
  transition: 0.2s ease;
}

.translateX-leave-to {
  transform: translateX(-200px);
  opacity: 0;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-img {
  width: 100%;
  margin-top: 1em;
}

.modal-content {
  background-color: #fefefe;
  margin: 1em auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
@media (max-width: 775px) {
  .modal-content {
    width: 95%;
    margin: 2.5em auto;
  }
}

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  opacity: 0.7;
  cursor: pointer;
  cursor: pointer;
}

.modal-ul {
  margin-top: -1em;
}

.skills {
  display: flex;
  flex-direction: row;
  margin-top: -1em;
  flex-wrap: wrap;
}

.badge {
  background-color: #3aafa0;
  min-width: fit-content;
  border-radius: 15px;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.badge:first-child {
  margin-left: 0em;
}

footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  background-color: #3aafa0;
  padding: 2.5em;
  padding-left: 5em;
  padding-right: 5em;
}
@media (max-width: 775px) {
  footer {
    flex-direction: column;
  }
}
footer div {
  width: 40%;
  height: fit-content;
}
@media (max-width: 775px) {
  footer div {
    width: 100%;
  }
}
footer h3 {
  margin-bottom: -0.5em;
}
footer nav a {
  text-decoration: none;
  line-height: 1em;
  font-size: 1.6em;
  padding: 0.5em;
  display: block;
  color: white;
  transition: 0.4s ease;
}
@media (max-width: 775px) {
  footer nav a {
    font-size: 1em;
  }
}
footer nav a:hover {
  color: black;
  box-shadow: inset 170px 0 0 0 #ff4d00;
  color: white;
}
@media (max-width: 775px) {
  footer nav ul {
    display: flex;
    flex-direction: row;
  }
}

.copyright {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  letter-spacing: -0.5px;
  margin-top: 0.2em;
}

.footer-nav {
  width: 20%;
}
@media (max-width: 775px) {
  .footer-nav {
    width: 100%;
    margin-top: 1em;
  }
  .footer-nav nav ul {
    flex-wrap: wrap;
  }
}

.form-wrap {
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
@media (max-width: 775px) {
  .form-wrap {
    flex-direction: column;
  }
}
.form-wrap button {
  width: 25%;
  float: right;
  margin-right: 2.5em;
  margin-top: 2.5em;
}
.form-wrap__info {
  width: 35%;
  background-color: #3aafa0;
  padding: 2.5em;
}
@media (max-width: 775px) {
  .form-wrap__info {
    width: 100%;
  }
}
.form-wrap__info .heading {
  margin-left: 0;
}

form {
  width: 65%;
  margin-left: 2.5em;
  padding-bottom: 2.5em;
}
@media (max-width: 775px) {
  form {
    width: 95%;
    margin-left: 0.5em;
  }
}

.form-input {
  width: 100%;
  padding: 12px;
  border: 1px solid #3aafa0;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  outline: none;
}
.form-input__red {
  border: 1px solid red;
}

label {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 900;
  letter-spacing: -0.01em;
  display: inline-block;
  margin-top: 1em;
}

/* Style the submit button */
input[type=submit] {
  background-color: #ff4d00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}
input[type=submit]:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 95%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
.errorMsg {
  color: red;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.successMsg {
  color: #3aafa0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  padding: 2.5em;
  padding-top: 5em;
  padding-bottom: 5em;
}
@media (max-width: 775px) {
  .presentation {
    width: 95%;
  }
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #3aafa0 50%, rgba(239, 239, 239, 0.42) 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.7;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.about {
  width: 100%;
  padding: 2.5em;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;
}
.about__info {
  width: 60%;
  margin-top: 1em;
}
.about__info img {
  width: 40%;
  height: auto;
  float: right;
  padding: 1em;
  padding-top: 0;
}
@media (max-width: 1200px) {
  .about__info {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .about {
    flex-direction: column;
  }
}

.resume {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2.5em;
}
@media (max-width: 1200px) {
  .resume {
    flex-direction: column;
  }
}

.sidebar {
  width: 30%;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin: 2.5em;
  height: fit-content;
}
@media (max-width: 1200px) {
  .sidebar {
    width: 95%;
    margin: 0 auto;
    margin-top: 2.5em;
  }
}
@media (max-width: 1200px) {
  .sidebar__mobile_only {
    display: flex;
    flex-direction: row;
  }
  .sidebar__mobile_only img {
    width: 95%;
    margin-right: 1em;
  }
}
.sidebar i {
  color: #3aafa0;
  margin-right: 0.5em;
}
.sidebar b {
  font-size: 1.2em;
  font-weight: 200;
  color: #293338;
}

.container {
  width: 90%;
  padding: 1em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  margin: 2.5em;
}
@media (max-width: 1200px) {
  .container {
    width: 95%;
    margin: 0 auto;
    margin-top: 2.5em;
  }
}
.container h2 {
  color: #3aafa0;
}
.container h3 {
  font-size: 1.2em;
  font-weight: 200;
  color: #293338;
  text-transform: initial;
}
.container h4 {
  margin-top: -0.1em;
  color: #3aafa0;
}
.container ul li {
  margin-top: 0.5em;
}
.container a {
  text-transform: initial;
  color: #ff4d00;
}

hr {
  opacity: 0.3;
}

.progress {
  color: #000;
  background-color: #d4d4d4;
  border-radius: 5px;
}
.progress__inner {
  color: #fff;
  background-color: #009688;
  border-radius: 5px;
}
.progress__inner p {
  text-align: center;
}

@media (max-width: 1200px) {
  .progress-wrap {
    width: 50%;
  }
}
@media (max-width: 775px) {
  .progress-wrap {
    width: 100%;
  }
}

.projects {
  height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.project {
  display: flex;
  flex-direction: column;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 1em;
  margin-bottom: 1.5em;
}
@media (max-width: 500px) {
  .project {
    width: 95% !important;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }
}
@media (max-width: 775px) {
  .project {
    width: 45%;
  }
}
.project img {
  width: 100%;
}
.project .heading {
  margin: 0;
  margin-left: 0.5em;
  margin-top: 0.5em;
  transition: box-shadow 0.3s;
}
.project .heading h2 {
  font-size: 2em;
}
.project:hover {
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

.img-wrap {
  height: 170px;
  padding-bottom: 1em;
  display: flex;
  align-content: center;
}/*# sourceMappingURL=main.css.map */