h1 {
  font-size: 1.3em;
  text-align: center;
  margin: $space;
}
h2 {
  font-size: 1.2em;
  text-align: left;
  color: $purple;
}
h3 {
  font-size: 1em;
  text-align: center;
}

.desc {
  margin-top: -$space-s;
}
