@mixin breakpoint($point) {
  @if $point == small {
    @media (max-width: 500px) {
      @content;
    }
  } @else if $point == medium {
    @media (max-width: 775px) {
      @content;
    }
  } @else if $point == large {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $point == wide {
    @media (max-width: 1400px) {
      @content;
    }
  } @else {
    @warn 'Not a valid breakpoint name.';
  }
}
@mixin hover {
  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }
}

@mixin transition {
  transition: 0.3s ease-in-out 0s;
  -moz-transition: 0.3s ease-in-out 0s;
  -webkit-transition: 0.3s ease-in-out 0s;
}

@mixin flexRow {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
}
