$beige: #e9e8e7;
$light-grey: #eff0f4;
$grey: #878796;

$purple: #3d1e95;
$light-purple: #d4cbea;
$contrast-purple: #7d52fa;
$salmon: #f7949d;

$shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

$space-s: 0.5em;
$space: 2.5em;
